body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: hsl(209, 33%, 85%);
}
h1 {
  color: #004b77;
  text-align: center;
  padding-top: 30px;
}
h2 {
  color: hsl(202, 73%, 35%);
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

p {
  text-align: center;
}

ul {
  padding-left: 20px;
}
li {
  margin-bottom: 10px;
}
.loading {
  font-style: italic;
}

canvas {
  height: 600px !important; /* Let Chart.js adjust height automatically */
  max-height: 80vh; /*prevent mobile overflow */
  display: block;
  margin: 0 auto; /* Center the chart horizontally */
}

.chart-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scroll if needed */
  overflow-y: auto; /* Enable vertical scroll if needed */
  padding-bottom: 1rem;
}
